<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="An online, open-source Azure CTF challenge called BrokenByDesign: Azure (BrokenAzure.cloud) that is running 24/7 created by Secura.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="inject_html.js" defer></script>
    <script src="main.js" defer></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <div class="content">
        <img src="https://veriwhystorage.blob.core.windows.net/hosted-webapp/logo.png" alt="Broken By Design logo"
          class="bbd-logo">
        <h1 class="bbg-challenge-name">
            Official website
        </h1>

        <h2>
            Our first website fully build on Azure services (still in progress...)!
        </h2>
        <p>
            We at Veriwhy consider ourselves early adopters. That is why we are starting to migrate our infrastructure to Azure in 2023!
        </p>
        <h2>
            About Veriwhy
        </h2>
        <p>
          Adam Huntley and Drake Bufon are the co-founders of Veriwhy, a cybersecurity company that was founded two years ago. 
          Both Adam and Drake have a background in security and technology, which has been crucial in the development of Veriwhy's cybersecurity services.<br><br>

          Adam Huntley is an expert in the field of security and identity management. He has a wealth of experience in the industry, having worked as a security consultant for several Fortune 500 companies. 
          He brings a deep understanding of security threats and vulnerabilities to Veriwhy, as well as a strong background in compliance.<br><br>

          Drake Bufon, on the other hand, is a technology expert with a background in software development and artificial intelligence. 
          He has experience working with some of the world's leading technology companies, and brings a wealth of technical knowledge to Veriwhy. 
          He is responsible for the development of Veriwhy's cutting-edge technology, which has been key to the company's success in the market.<br><br>

          Together, Adam and Drake have built Veriwhy into a company that provides a wide range of cybersecurity services to businesses and organizations. 
          They are dedicated to helping their clients protect their assets and secure their networks from cyber threats. 
          Their combined expertise in the field of cybersecurity and technology allows Veriwhy to develop and deliver advanced and innovative solutions to their clients.</p>
        <h2>
            Join our company!
        </h2>
        <p>
          We are currently working on quite some exciting projects and the our team is constantly growing.<br><br>
          One of the coolest things at Veriwhy is that everybody is provided with a personal yearly 5k educational budget to spend for personal growth in what you prefer 
          and that the work environment is great. And obviously your salary will be amazing.<br><br> Just leave us your e-mailaddress and we will get back to you ASAP!
        </p>
        <input type="text" name="name" id="name" class="submit-flag-input" placeholder="Insert your e-mailaddress">
        <input type="button" value="Submit" class="submit-flag-button" id="submit-flag-button">
        <p>
          Or, if you want to take the initiative, please send an e-mail to our sales manager <a href="mailto: r.madison@veriwhy.nl">Rivera Madison</a>
        </p>
    </div>
</body>

</html>
