@font-face {
  font-family: 'BR Candor';
  src: url("/font/BRCandorRegular.otf") format("opentype");
}

@font-face {
  font-family: 'BR Candor';
  font-weight: bold;
  src: url("/font/BRCandorBold.otf") format("opentype");
}

body {
  font-family: 'BR Candor';
  /*background: url("/images/background.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  resize: both;
  color: black;
  height: 100%;
}

div.footer {
  text-align: center;
}

img.bbd-logo {
  max-width: 350px;
}

h1.bbg-challenge-name {
  margin-top: unset;
  font-size: 60px;
  color: #124948;
}

h2 {
  color: #124948;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 5%;
}

.container .content {
  width: 60%;
  height: 100%;
  /* border: 1px solid white; */
}

.submit-flag-input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-color: #cf0036;
}

.submit-flag-button {
  border-color: #cf0036;
  border-radius: 10px;
  background-color: #cf0036;
  color: white;
  height: 45px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
}

.submit-flag-button:disabled {
  cursor: default;
  background-color: rgba(239, 239, 239, 0.3);
}

a {
  color: #cf0036;
  font-weight: bold;
  text-decoration: none;
  font-size: unset;
}

h3 {
  padding: 20px;
  background-color: rgba(207, 0, 54, 0.9);
}